@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
<p>This template is pre-ready basic intranet system .
    Rule 1 

    <ol>
        <li>Never said to boss this was  easy cut and paste</li>
        <li>All business logic need to study and documentated</li>
        <li>No Work Late night cause client wanted tomorow deliver</li>
        <li>If urgent, you need some  $$$</li>
        <li>No money no advise</li>
        <li>REspect Other developer even junior</li>
        <li>If you want customize as you wish and commercial . please email us first corex2020@icloud.com . We
            don't want people abuse as profit and you need to paid </li>
    </ol>
    ** thus shall avoid this cms if you don't want to follow this rule . 
    ** thus shall avoid this cms if you want cheap solution . 
    ** thus shall avoid this cms if you don't respect other 

</p>
